In [1]:
%autosave 0
from biglearn import createNewPred as CP
from biglearn import analyserML as ML
from alys import regression as alysCL
from alys import  save as SV
from graph import rViz 

from pandas import read_csv
import pandas
import numpy as np
import matplotlib.pyplot as plt
import sys
import os
import csv
import datetime

# ignore Warning
import warnings
warnings.filterwarnings("ignore")

Autosave disabled

#   Prediction Janvier 2020

In [2]:
CP.predOnProdSet()

Nom du fichier full Prod : inc_movies_janv.csv
Modèle id : model/5e09292b3514cd286f01ece4
Types de Modèle  : model
Nom du fichier exporté : suivi_mod_janv.csv
fichier ok
predict-lancée
prediction ok

# Janvier 2020

In [15]:
df_pred = read_csv("Pred_Files/suivi_mod_janv.csv")
df_ann = read_csv('Rapport/suivi_pres.csv')

def Follow() :
    # creation d'un df temporaire pour plus de lisibilité
    df_temp = pandas.DataFrame()
    col = ('imdb_id','title','target')
    
    for i in col :
        df_temp[i] = df_ann[i]
    df_temp['pred'] = df_pred['pred']

    # je supprime de l'analyse les films qui ont pas encore de notes    
    ro = 0    
    for i in df_temp['target']:
        if i == 0 :
            df_temp = df_temp.drop(ro)
        ro +=1        
    
    df_temp['pred'] =  round(df_temp['pred'],2)  
    
    # fonction pour une analyse des erreurs
    alysCL.regr(df_temp)
    return df_temp
    
    
board = Follow()
board

nom colonne prediction : pred
nom colonne output : target
MAPE =  15.89

,imdb_id,title,target,pred,pourcerror,errorabs,mape,RMSE
0,tt5706370,Three Christs,5.6,5.66,0.010714,0.01,15.89,1.043156
1,tt3612126,The Grudge,4.1,5.96,0.453659,0.45,NaN,NaN
2,tt5774060,Underwater,6.2,5.56,-0.103226,0.10,NaN,NaN
3,tt4916630,La Voie de la Justice,7.4,7.32,-0.010811,0.01,NaN,NaN
4,tt7545266,Like a Boss,4.3,5.28,0.227907,0.23,NaN,NaN
5,tt1833116,The Informer,6.5,6.91,0.063077,0.06,NaN,NaN
6,tt9614460,Chhapaak,4.7,6.29,0.338298,0.34,NaN,NaN
7,tt6673612,Le voyage du Dr Dolittle,5.6,6.29,0.123214,0.12,NaN,NaN
8,tt1502397,Bad Boys for Life,7.3,6.45,-0.116438,0.12,NaN,NaN
9,tt9426210,Les enfants du temps: Weathering with You,7.7,6.91,-0.102597,0.10,NaN,NaN
10,tt8367814,The Gentlemen,8.1,6.45,-0.203704,0.20,NaN,NaN
11,tt5073642,Color Out of Space,6.3,6.29,-0.001587,0.00,NaN,NaN
12,tt0783640,The Last Full Measure,6.3,6.67,0.058730,0.06,NaN,NaN
13,tt7510346,The Turning,3.7,5.96,0.610811,0.61,NaN,NaN
14,tt9000224,The Assistant,5.4,6.38,0.181481,0.18,NaN,NaN
15,tt7134096,The Rhythm Section,5.6,6.91,0.233929,0.23,NaN,NaN
16,tt9086228,Gretel and Hansel,5.8,5.70,-0.017241,0.02,NaN,NaN
17,tt11281142,SOL,6.6,6.26,-0.051515,0.05,NaN,NaN
18,tt9031048,Une belle équipe,5.8,5.06,-0.127586,0.13,NaN,NaN

In [16]:
def synth(board,nbfilms):
    sh = board.shape[0]
    ma = board.loc[0,'mape']
    dt = datetime.datetime.now()
    d_t = dt.strftime("%d")
    m_t = dt.strftime("%b")

    print(f"{d_t}-{m_t} : mape =  {ma} ---- {sh}/{nbfilms} films")  

synth(board,19)

31-Jan : mape =  15.89 ---- 19/19 films

31-Jan : mape =  15.89 ---- 19/19 films
25-Jan : mape =  15.76 ---- 17/17 films
15-Jan : mape =  14.73 ---- 15/17 films
07-Jan : mape =  15.4 ---- 10/17 films
02-Jan : mape =  12.11 ---- 9/17 films

In [6]:
alysCL.seuil_vs_error(board)
alysCL.seuil_vs_error(board)

valeur du seuil :0.2
il y'a 13 erreurs inférieurs à 0.2, il y'a 6 erreurs supérieurs à 0.2
erreur sous seuil = 68.4211%
valeur du seuil :0.1
il y'a 7 erreurs inférieurs à 0.1, il y'a 12 erreurs supérieurs à 0.1
erreur sous seuil = 36.8421%

36.8421

# Fevrier 2020

In [7]:
CP.predOnProdSet()

Nom du fichier full Prod : inc_movies_fev.csv
Modèle id : model/5e09292b3514cd286f01ece4
Types de Modèle  : model
Nom du fichier exporté : suivi_mod_fev.csv
fichier ok
predict-lancée
prediction ok

In [17]:
df_pred = read_csv("Pred_Files/suivi_mod_fev.csv")
df_ann = read_csv('Rapport/suivi_mod_fev_ann.csv')

board = Follow()
board

nom colonne prediction : pred
nom colonne output : target
MAPE =  11.14

,imdb_id,title,target,pred,pourcerror,errorabs,mape,RMSE
1,tt7347846,The Lodge,6.7,6.11,-0.088060,0.09,NaN,NaN
2,tt8963708,Et puis nous danserons,8.1,6.91,-0.146914,0.15,NaN,NaN
5,tt4558376,Downhill,5.4,6.38,0.181481,0.18,NaN,NaN
6,tt6012380,Ordinary Love,7.4,6.67,-0.098649,0.10,NaN,NaN
7,tt7283212,The Times of Bill Cunningham,6.5,7.54,0.160000,0.16,NaN,NaN
12,tt8972256,Greed,5.6,6.67,0.191071,0.19,NaN,NaN
13,tt7335104,Goldie,6.1,6.38,0.045902,0.05,NaN,NaN
14,tt2420124,Wendy,6.6,6.67,0.010606,0.01,NaN,NaN
15,tt5314450,Burden,6.3,7.32,0.161905,0.16,NaN,NaN
16,tt7921248,Les siffleurs,6.6,6.94,0.051515,0.05,NaN,NaN
17,tt9016016,Saint Frances,7.2,6.67,-0.073611,0.07,NaN,NaN
18,tt9801736,Un jour si blanc,7.2,6.91,-0.040278,0.04,NaN,NaN
19,tt6102104,Ride,8.0,5.96,-0.255000,0.26,NaN,NaN
22,tt9828918,#jesuislà,6.6,6.26,-0.051515,0.05,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,11.14,0.901011

In [18]:
synth(board,24)

31-Jan : mape =  11.14 ---- 15/24 films

In [ ]:
31-Jan : mape =  11.14 ---- 15/24 films